In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

1. /kaggle/input/india-census/hlpca-colnames.csv
1. /kaggle/input/india-census/india-districts-census-2011.csv
1. /kaggle/input/india-census/india_census_housing-hlpca-full.csv 
1. /kaggle/input/indian-census-data-with-geospatial-indexing/district wise centroids.csv
1. /kaggle/input/indian-census-data-with-geospatial-indexing/district wise population and centroids.csv
1. /kaggle/input/indian-census-data-with-geospatial-indexing/district wise population for year 2001 and 2011.csv
1. /kaggle/input/indian-census-data-with-geospatial-indexing/state wise centroids_2001.csv
1. /kaggle/input/indian-census-data-with-geospatial-indexing/state wise centroids_2011.csv

In [6]:
import pandas as pd
import numpy as np
latlong = pd.read_csv(/kaggle/input/indian-census-data-with-geospatial-indexing.cs)
latlong

In [9]:
latlong = pd.read_csv('/kaggle/input/indian-census-data-with-geospatial-indexing/district wise centroids.csv')
latlong

                   State           District   Latitude  Longitude
0    Andaman and Nicobar    Andaman Islands  12.382571  92.822911
1    Andaman and Nicobar    Nicobar Islands   7.835291  93.511601
2         Andhra Pradesh           Adilabad  19.284514  78.813212
3         Andhra Pradesh          Anantapur  14.312066  77.460158
4         Andhra Pradesh           Chittoor  13.331093  78.927639
..                   ...                ...        ...        ...
589          West Bengal  North 24 Parganas  22.062388  88.877940
590          West Bengal           Puruliya  23.254192  86.396853
591          West Bengal  South 24 Parganas  21.854428  88.445370
592          West Bengal     Uttar Dinajpur  26.044619  88.235952
593          West Bengal     West Midnapore  22.354897  87.231014

[594 rows x 4 columns]

In [10]:
latlong.isnull().sum()

State        0
District     0
Latitude     0
Longitude    0
dtype: int64

In [11]:
latlong.duplicated().sum()

0

In [56]:
census = pd.read_csv('/kaggle/input/india-census/india-districts-census-2011.csv')
census

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,94,588,71,101,172,74,10,84,15,1119
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,126,562,72,89,161,96,28,124,18,1066
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,...,46,122,15,22,37,20,14,34,17,242
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,18,...,27,114,12,18,30,19,3,22,7,214
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,556,...,78,346,35,50,85,59,8,67,12,629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816,19143,22673,36470,16610,19860,144,...,2316,4309,1370,838,2208,576,978,1554,1446,10027
636,637,PONDICHERRY,Karaikal,200222,97809,102413,154916,79903,75013,35348,...,1063,2408,665,340,1005,246,483,729,341,4890
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842,20727,16115,25332,15397,9935,0,...,685,1895,212,134,346,70,120,190,84,3151
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597,54861,50736,78683,43186,35497,0,...,685,1895,212,134,346,70,120,190,84,3151
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,238142,127283,110859,190266,105794,84472,0,...,1371,3020,649,368,1017,265,497,762,376,5782

In [57]:
house = pd.read_csv('/kaggle/input/india-census/india_census_housing-hlpca-full.csv')
house

,State Code,State Name,District Code,District Name,Tehsil Code,Tehsil Name,Town Code/Village code,Ward No,Area Name,Rural/Urban,...,Contition_T_Total,Contition_T_Good,Contition_T_Livable,Contition_T_Dilapidated,Contition_R_Total,Residence_Good,Residence_Livable,Residence_Dilapidated,Residence_cum_other,Residence_cum_Good
0,1,JAMMU & KASHMIR,1,Kupwara,0,Kupwara,0,0,District - Kupwara,Rural,...,100,33.6,58.1,8.3,90.9,32.7,51.0,7.2,9.1,1.0
1,1,JAMMU & KASHMIR,1,Kupwara,0,Kupwara,0,0,District - Kupwara,Total,...,100,34.8,57.3,7.9,91.0,33.8,50.2,6.9,9.0,0.9
2,1,JAMMU & KASHMIR,1,Kupwara,0,Kupwara,0,0,District - Kupwara,Urban,...,100,45.7,49.5,4.8,91.8,45.0,42.2,4.5,8.2,0.7
3,1,JAMMU & KASHMIR,2,Badgam,0,Badgam,0,0,District - Badgam,Rural,...,100,49.7,46.3,3.9,97.2,49.0,44.5,3.7,2.8,0.7
4,1,JAMMU & KASHMIR,2,Badgam,0,Badgam,0,0,District - Badgam,Total,...,100,51.6,44.7,3.8,97.3,50.8,43.0,3.5,2.7,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1903,35,ANDAMAN & NICOBAR ISLANDS,639,North & Middle Andaman,0,North & Middle Andaman,0,0,District - North & Middle Andaman,Total,...,100,52.6,44.6,2.8,97.5,51.2,43.5,2.8,2.5,1.4
1904,35,ANDAMAN & NICOBAR ISLANDS,639,North & Middle Andaman,0,North & Middle Andaman,0,0,District - North & Middle Andaman,Urban,...,100,37.5,55.9,6.6,95.8,36.3,53.0,6.5,4.2,1.2
1905,35,ANDAMAN & NICOBAR ISLANDS,640,South Andaman,0,South Andaman,0,0,District - South Andaman,Rural,...,100,63.0,33.5,3.5,98.3,62.0,32.8,3.5,1.7,1.0
1906,35,ANDAMAN & NICOBAR ISLANDS,640,South Andaman,0,South Andaman,0,0,District - South Andaman,Total,...,100,71.5,26.4,2.2,98.5,70.6,25.8,2.1,1.5,0.9
1907,35,ANDAMAN & NICOBAR ISLANDS,640,South Andaman,0,South Andaman,0,0,District - South Andaman,Urban,...,100,77.4,21.4,1.2,98.7,76.6,20.9,1.2,1.3,0.8

In [58]:
cols = ['District code', 'District name', 'Population', 'Male','Female','Literate','Housholds_with_Electric_Lighting','Households_with_Internet']
census[cols]

,District code,District name,Population,Male,Female,Literate,Housholds_with_Electric_Lighting,Households_with_Internet
0,1,Kupwara,870354,474190,396164,439654,83071,762
1,2,Badgam,753745,398041,355704,335649,90190,1999
2,3,Leh(Ladakh),133487,78971,54516,93770,17250,574
3,4,Kargil,140802,77785,63017,86236,15824,235
4,5,Punch,476835,251899,224936,261724,62900,346
...,...,...,...,...,...,...,...,...
635,636,Mahe,41816,19143,22673,36470,7150,574
636,637,Karaikal,200222,97809,102413,154916,47880,1868
637,638,Nicobars,36842,20727,16115,25332,9301,57
638,639,North AND Middle Andaman,105597,54861,50736,78683,18641,388
639,640,South Andaman,238142,127283,110859,190266,52479,2789

In [59]:
census=census[cols]
census

,District code,District name,Population,Male,Female,Literate,Housholds_with_Electric_Lighting,Households_with_Internet
0,1,Kupwara,870354,474190,396164,439654,83071,762
1,2,Badgam,753745,398041,355704,335649,90190,1999
2,3,Leh(Ladakh),133487,78971,54516,93770,17250,574
3,4,Kargil,140802,77785,63017,86236,15824,235
4,5,Punch,476835,251899,224936,261724,62900,346
...,...,...,...,...,...,...,...,...
635,636,Mahe,41816,19143,22673,36470,7150,574
636,637,Karaikal,200222,97809,102413,154916,47880,1868
637,638,Nicobars,36842,20727,16115,25332,9301,57
638,639,North AND Middle Andaman,105597,54861,50736,78683,18641,388
639,640,South Andaman,238142,127283,110859,190266,52479,2789

In [60]:
latlong

                   State           District   Latitude  Longitude
0    Andaman and Nicobar    Andaman Islands  12.382571  92.822911
1    Andaman and Nicobar    Nicobar Islands   7.835291  93.511601
2         Andhra Pradesh           Adilabad  19.284514  78.813212
3         Andhra Pradesh          Anantapur  14.312066  77.460158
4         Andhra Pradesh           Chittoor  13.331093  78.927639
..                   ...                ...        ...        ...
589          West Bengal  North 24 Parganas  22.062388  88.877940
590          West Bengal           Puruliya  23.254192  86.396853
591          West Bengal  South 24 Parganas  21.854428  88.445370
592          West Bengal     Uttar Dinajpur  26.044619  88.235952
593          West Bengal     West Midnapore  22.354897  87.231014

[594 rows x 4 columns]

In [61]:
final = latlong.merge(census,left_on='District',right_on='District name').drop(columns=['District name'])

In [62]:
final

,State,District,Latitude,Longitude,District code,Population,Male,Female,Literate,Housholds_with_Electric_Lighting,Households_with_Internet
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,2741239,1369597,1371642,1483347,566108,5512
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,4081148,2064495,2016653,2310960,897970,8606
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,4174064,2090204,2083860,2667878,944555,13763
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,5154296,2569688,2584608,3288577,1297273,22411
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,4887813,2440521,2447292,2960441,1186028,19383
...,...,...,...,...,...,...,...,...,...,...,...
512,West Bengal,Maldah,25.080268,88.171917,332,3988845,2051541,1937304,2086432,297716,5357
513,West Bengal,Murshidabad,24.259507,88.168169,333,7103807,3627564,3476243,4055834,541169,7951
514,West Bengal,Nadia,23.564110,88.582930,336,5167600,2653768,2513832,3480555,623729,12787
515,West Bengal,Puruliya,23.254192,86.396853,340,2930115,1496996,1433119,1624905,189889,3551
516,West Bengal,Uttar Dinajpur,26.044619,88.235952,330,3007134,1551066,1456068,1489667,199307,2883

In [63]:
final['Sex Ratio'] = round((final['Female']/final['Male'])*100)
final['Sex Ratio'].reset_index()

     index  Sex Ratio
0        0      100.0
1        1       98.0
2        2      100.0
3        3      101.0
4        4      100.0
..     ...        ...
512    512       94.0
513    513       96.0
514    514       95.0
515    515       96.0
516    516       94.0

[517 rows x 2 columns]

In [81]:
final

,State,District,Latitude,Longitude,District code,Population,Housholds_with_Electric_Lighting,Households_with_Internet,Sex Ratio,Literacy rate
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,2741239,566108,5512,100.0,54.112283
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,4081148,897970,8606,98.0,56.625244
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,4174064,944555,13763,100.0,63.915599
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,5154296,1297273,22411,101.0,63.802642
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,4887813,1186028,19383,100.0,60.567804
...,...,...,...,...,...,...,...,...,...,...
512,West Bengal,Maldah,25.080268,88.171917,332,3988845,297716,5357,94.0,52.306670
513,West Bengal,Murshidabad,24.259507,88.168169,333,7103807,541169,7951,96.0,57.093809
514,West Bengal,Nadia,23.564110,88.582930,336,5167600,623729,12787,95.0,67.353414
515,West Bengal,Puruliya,23.254192,86.396853,340,2930115,189889,3551,96.0,55.455332
516,West Bengal,Uttar Dinajpur,26.044619,88.235952,330,3007134,199307,2883,94.0,49.537766

In [83]:
final

,State,District,Latitude,Longitude,District code,Population,Housholds_with_Electric_Lighting,Households_with_Internet,Sex Ratio,Literacy rate
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,2741239,566108,5512,100.0,54.112283
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,4081148,897970,8606,98.0,56.625244
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,4174064,944555,13763,100.0,63.915599
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,5154296,1297273,22411,101.0,63.802642
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,4887813,1186028,19383,100.0,60.567804
...,...,...,...,...,...,...,...,...,...,...
512,West Bengal,Maldah,25.080268,88.171917,332,3988845,297716,5357,94.0,52.306670
513,West Bengal,Murshidabad,24.259507,88.168169,333,7103807,541169,7951,96.0,57.093809
514,West Bengal,Nadia,23.564110,88.582930,336,5167600,623729,12787,95.0,67.353414
515,West Bengal,Puruliya,23.254192,86.396853,340,2930115,189889,3551,96.0,55.455332
516,West Bengal,Uttar Dinajpur,26.044619,88.235952,330,3007134,199307,2883,94.0,49.537766

In [85]:
final.to_csv('india.csv',index=False)

In [93]:
list_of_state = list(final['State'].unique())
list_of_state.insert(0,'Over-All India')

In [94]:
list_of_state

['Over-All India',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Maharashtra',
 'Chandigarh',
 'Chhattisgarh',
 'Himachal Pradesh',
 'Daman and Diu',
 'Gujarat',
 'Goa',
 'Haryana',
 'Uttar Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Orissa',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttaranchal',
 'West Bengal']

In [101]:
sorted(final.columns[5:])

['Households_with_Internet',
 'Housholds_with_Electric_Lighting',
 'Literacy rate',
 'Population',
 'Sex Ratio']